*.o
coff2flat
coff2noff
nachos
*.coff
disassemble
readnoff
echo
filetest
halt
matmult
shell
sort
tiny_shell
touch
*.depends

Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/rm
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/cp
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/cat
Gurvich-Wirzt/tags/*
Gurvich-Wirzt/.svn/*
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/testtlb
Gurvich-Wirzt/trunk/nachos-unr21a/code/filesys/DISK
SWAP.*
Gurvich-Wirzt/.svn/wc.db
.vscode/targets.log
.vscode/dryrun.log
.vscode/configurationCache.log
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/test.txt
DISK
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/test
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/dirtest
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/mkdir
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/ls
Gurvich-Wirzt/trunk/nachos-unr21a/code/userland/cd
